<!DOCTYPE html>
<html lang="ES"><head>
    {{> masters/headTop }}
    <title>Combos SKY HD + Blue Telecomm | SKY México</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Navega con Blue Telecomm y ve SKY HD en un solo lugar. Enchufa y conéctate, sin instalaciones. Conoce nuestros nuevos combos y contrata con promoción.">
    <meta name="Keywords" content="sky, sky mexico, sky paquetes, cable, sky, blue to go, sky tv, tele por cable, sky mexico, sky paquetes precios, sky méxico, telefono sky, sky tv, sky hd, contratar sky, programacion sky, sky paquetes y precios,sky canales,paquetes de sky,sky mexico paquetes,sky sports mexico, sky linea telefonica, llamar sky, numero de sky, sky paquetes y precios, paquetes sky">
    <meta name="Robots" content="index,follow">
    <link rel="icon" href="{{absoulteHrefBasePath}}favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{absoulteHrefBasePath}}assets/css/theme/glider.min.css">
    <link rel="stylesheet" href="{{absoulteHrefBasePath}}assets/css/combosvetv.css">
    {{> masters/headBottom }}
</head>

<body>
    {{> masters/bodyTop }}

    <header class="banner banner__carousel-container">
        <div class="banner__carousel">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">

                    <div class="banner__carousel-container banner__combos">
                        <div class="container banner__titles">
                            <div class="headers__info combos">
                                <div class="titles">
                                    <h1>Combos Sky + Internet</h1>
                                    <h2 class="h2__small">Suma a tu paquete Sky HD el internet que necesitas desde</h2>
                                    <p class="price">
                                        $545<sup>(6)</sup>
                                    </p>
                                    <p class="priceLegend">
                                        Al mes | pago oportuno
                                    </p>
                                </div>
                                <button class="btn__pink combos" data-ic-popup="form-popup.html" onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);">Lo
                                    quiero</button>
                            </div>

                        </div>

                    </div>
                    <!-- <div class="banner__carousel-container banner__carousel2"></div> -->
                    <!-- <div class="banner__carousel-container banner__carousel3"></div> -->
                </div>
            </div>

            <!-- <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
            </div> -->

            <div class="navbar__Container">
                <div class="container">
                    <nav class="navbar">

                        <div class="menu__hamburger" data-openmenu="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                        <div class="navbar__menuLogo">

                            <a href="{{absoulteHrefBasePath}}skypaquetes.html" class="logosky__container" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                <img src="{{absoulteHrefBasePath}}assets/img/logos/logo-sky-distribuidorV2.svg" alt="Logo sky" class="sky__logo">
                            </a>


                            <ul class="navbar__links">
                                <li>
                                    <a href="{{absoulteHrefBasePath}}skypaquetes.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">Sky Paquetes TV</a>
                                </li>
                                <li class="active">
                                    <a href="{{absoulteHrefBasePath}}combos-sky.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">Sky + Internet</a>
                                </li>
                                <li>
                                    <a href="{{absoulteHrefBasePath}}sky-prepago.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">Sky Prepago</a>
                                </li>
                                <li>
                                    <a href="{{absoulteHrefBasePath}}promociones-sky.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">Promociones</a>
                                </li>

                            </ul>
                        </div>

                        <div class="contact__client">
                            <p>Si eres cliente llama al</p>
                            <a href="tel:555 169 0000">555 169 0000</a>
                        </div>



                        <div class="content__contacTelephone">
                            <div class="contacTelephone">
                                <a onclick="return gtag_report_conversion('tel:{{parameterOrDefault inboundPublicNumber 01 800 000}}')" href="tel:{{parameterOrDefault inboundPublicNumber '01 800 000'}}" target="_parent" class="phone__Contact-container">
                                    <p class="contrataYa">LLAMA GRATIS AL</p>
                                    <div class="phone__contact-banner">
                                        <img src="{{absoulteHrefBasePath}}assets/img/iconos/icn-call.svg" alt="icono Telefono" class="icon__telephoneNum">
                                        <p>
                                            {{parameterOrDefault inboundPublicNumber '01 800 000'}}
                                            <!-- 01 800 000 -->
                                        </p>


                                    </div>

                                    <!-- </a> -->
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="navbar__links-containerMobile fadeIn">
                    <ul class="navbar__links-mobile fadeInLeft">

                        <div class="header__menuMobile">
                            <a href="{{absoulteHrefBasePath}}combos-tv-internet.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                <img src="{{absoulteHrefBasePath}}assets/img/logos/logo-sky-distribuidorV2.svg" alt="sky logo" class="mc__mobile">
                            </a>
                            <img src="{{absoulteHrefBasePath}}assets/img/iconos/close_icon.svg" alt="close menu icon" class="close__menu close-menuHamburger">
                        </div>
                        <li>
                            <a href="{{absoulteHrefBasePath}}skypaquetes.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                Paquetes TV
                            </a>
                        </li>
                        <li class="active">
                            <a href="{{absoulteHrefBasePath}}combos-sky.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                Sky + Internet
                            </a>
                        </li>

                        <li>
                            <a href="{{absoulteHrefBasePath}}sky-prepago.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                Sky Prepago
                            </a>
                        </li>
                        <li>
                            <a href="{{absoulteHrefBasePath}}promociones-sky.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                                Promociones
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="mobile__text-phone">SI ERES CLIENTE LLAMA AL <a href="tel:555 169 0000">555 169 0000</a></p>
            </div>
        </div>
    </header>

    

    <section class="container">
        <div class="form">
            <div class="form__msg">
                <p class="form__msg-title">
                    ¡Contrata ahora!
                </p>
                <p class="form__msg-subtitle">
                    Déjanos tu número y te
                    <br>llamamos sin costo
                </p>
            </div>

            <form action="" method="post" onsubmit="return onFormSubmit(this, event);" class="dhx-form form__container">
                <div class="form__inputContainer">
                    <!-- <p class="form__container-inputLegend">Teléfono a 10 digitos</p> -->
                    <input type="tel" data-ic-form-field="phone" id="phone-input" name="phone-input" class="gtm-form-popup-input-tel input__black" aria-describedby="phoneHelp" placeholder="Ingresa tu número" maxlength="10">
                </div>
                <div>
                    <button type="submit" class="gtm-form-popup-submit 
                    btn__pink" onclick="return onFormSubmit(this, event);" data-ic-button-disabled="" style="cursor: progress;">Llámenme</button>
                </div>
                <div class="container__terms">
                    <input data-ic-form-field="terms" id="terms-check-06" name="terms-check-06" type="checkbox" class="form-check-input" checked="">
                    <label class="form__container-checkLabel" for="terms-check-06">He
                        leído y acepto las políticas de privacidad
                        <!-- <a href="politicas-privacidad.html" target="_blank">términos y
                            condiciones.</a></label> -->
                </label></div>
            </form>
        </div>
    </section>

    <section class="container cardsPaquetesTV">
        <p class="cards__titles">Conéctate con nuestros combos de televisión </p> <br>
        <p class="cards__titles blue__text" style="margin-top: 8px;">Sky HD + Blue Telecomm inalámbrico</p>


        <div class="row cardsPaquetesTV__container cards__dos">
            <div class="col">

                <div class="logo__plan-card">
                    <!-- <div class="logos">
                        <img src="assets/img/logo/skygoldv2.png" alt="sky silver" >
                        <p class="textPink">+</p>
                        <img src="assets/img/logo/bluetelecom-internet.svg" alt="bluetelecom Logo">
                    </div> -->

                    <img src="{{absoulteHrefBasePath}}assets/img/logos/conjuntoGold.png" alt="sky gold mas bluetelecom">
                </div>
                <div class="cardPaqueteTV">
                    <div class="container__blue-card">
                        <p class="cardPaqueteTV-title">Desde</p>
                        <div class="carPaqueteTV-prices">
                            <p class="carPaqueteTV-priceOriginal">
                                <span>$</span>545<sub class="sub__title">(2)</sub>
                            </p>
                        </div>
                        <p class="carPaqueteTV-priceLista2 color__white">al mes (en 1 equipo)</p>
                        <!-- <p class="carPaqueteTV-subtitle">Pago oportuno</p> -->
                        <p class="carPaqueteTV-priceLista">Precio Regular <span>$605</span><sup>(6)</sup></p>
                    </div>
                    <div class="carPaqueteTV-canales">
                        <!-- <div class="border__description"> -->
                        <div class="title color__blue">5 / Internet inalámbrico 100 GB y 114 canales</div>
                        <!-- </div> -->
                        <div class="carPaqueteTV-canalesDescripcion">
                            <ul class="color__gray">
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>

                            </ul>
                            <ul class="numeros color__gray">
                                <li>89</li>
                                <li>25</li>
                                <li>14</li>
                                <li>27</li>
                                <li>75</li>
                            </ul>
                            <ul class="color__gray">
                                <li>Canales HD</li>
                                <li>Canales en SD</li>
                                <li>Mosaicos</li>
                                <li>Pago por Evento</li>
                                <li>Audio/Musicales</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="blueTogo__legend">
                        <p>Además, acceso gratis a:</p>
                        <img src="assets/img/logo/bluetologoBwhite.png" alt="blue to go incluido">
                    </div> -->
                    <div class="carPaqueteTV-buttons">
                        <button onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);" class="btn__pink btnContact">Lo quiero</button>
                        <button class="btn__lineBlue btn__showModals" modal="modal_prepago">Ver canales</button>


                    </div>
                </div>
                <!-- <div class="ofertaCard" style="border-bottom: 1px solid var(--azul-baner);">
                    <div class="line__sky"></div>
                    <p class="info">Recibe adicionalmente un descuento de</p>
                    <p class="price">$175</p><sup>(*)</sup>
                </div> -->
            </div>
            <div class="col">

                <div class="logo__plan-card">
                    <!-- <div class="logos">
                        <img src="assets/img/logo/skygoldv2.png" alt="sky silver" >
                        <p class="textPink">+</p>
                        <img src="assets/img/logo/bluetelecom-internet.svg" alt="bluetelecom Logo">
                    </div> -->

                    <img src="{{absoulteHrefBasePath}}assets/img/logos/conjunto-platinum.png" alt="sky gold mas bluetelecom">
                </div>
                <div class="cardPaqueteTV">
                    <div class="container__blue-card">
                        <p class="cardPaqueteTV-title">Desde</p>
                        <div class="carPaqueteTV-prices">
                            <p class="carPaqueteTV-priceOriginal">
                                <span>$</span>635<sub class="sub__title">(5)</sub>
                            </p>
                        </div>
                        <p class="carPaqueteTV-priceLista2 color__white">al mes (en 1 equipo)</p>
                        <!-- <p class="carPaqueteTV-subtitle">Pago oportuno</p> -->
                        <p class="carPaqueteTV-priceLista">Precio Regular <span>$685</span><sup>(6)</sup></p>
                    </div>
                    <div class="carPaqueteTV-canales">
                        <!-- <div class="border__description "> -->
                        <div class="title color__blue">5/ Internet inalámbrico 100 GB y 137 canales</div>

                        <!-- </div> -->

                        <div class="carPaqueteTV-canalesDescripcion">
                            <ul>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>

                            </ul>
                            <ul class="numeros color__gray">
                                <li>108</li>
                                <li>29</li>
                                <li>14</li>
                                <li>27</li>
                                <li>75</li>
                            </ul>
                            <ul class="color__gray">
                                <li>Canales HD</li>
                                <li>Canales en SD</li>
                                <li>Mosaicos</li>
                                <li>Pago por Evento</li>
                                <li>Audio/Musicales</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="blueTogo__legend">
                        <p>Además, acceso gratis a:</p>
                        <img src="assets/img/logo/bluetologoBwhite.png" alt="blue to go incluido">
                    </div> -->
                    <div class="carPaqueteTV-buttons">
                        <button onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);" class="btn__pink btnContact">Lo quiero</button>
                        <button class="btn__lineBlue btn__showModals" modal="modal_prepago">Ver canales</button>


                    </div>
                </div>
                <!-- <div class="ofertaCard" style="border-bottom: 1px solid var(--azul-baner);">
                    <div class="line__sky"></div>
                    <p class="info">Recibe adicionalmente un descuento de</p>
                    <p class="price">$175</p><sup>(*)</sup>
                </div> -->
            </div>
        </div>


    </section>

    <section class="container cardsPaquetesTV">
        <p class="cards__titles">Conéctate con nuestros combos de televisión </p> <br>
        <p class="cards__titles blue__text" style="margin-top: 8px;">Sky HD + Blue Telecomm inalámbrico</p>


        <div class="row cardsPaquetesTV__container cardsPaquetesTV2__container cards__dos">
            <div class="col">

                <div class="logo__plan-card">
                    <!-- <div class="logos">
                        <img src="assets/img/logo/skygoldv2.png" alt="sky silver" >
                        <p class="textPink">+</p>
                        <img src="assets/img/logo/bluetelecom-internet.svg" alt="bluetelecom Logo">
                    </div> -->

                    <img src="{{absoulteHrefBasePath}}assets/img/logos/conjuntoGold.png" alt="sky gold mas bluetelecom">
                </div>
                <div class="cardPaqueteTV">
                    <div class="container__blue-card">
                        <p class="cardPaqueteTV-title">Desde</p>
                        <div class="carPaqueteTV-prices">
                            <p class="carPaqueteTV-priceOriginal">
                                <span>$</span>640<sub class="sub__title">(2)</sub>
                            </p>
                        </div>
                        <p class="carPaqueteTV-priceLista2 color__white">al mes (en 1 equipo)</p>
                        <!-- <p class="carPaqueteTV-subtitle">Pago oportuno</p> -->
                        <p class="carPaqueteTV-priceLista">Precio Regular <span>$730</span><sup>(6)</sup></p>
                    </div>
                    <div class="carPaqueteTV-canales">
                        <!-- <div class="border__description"> -->
                        <div class="title color__blue">10 / Internet inalámbrico 100 GB y 114 canales</div>
                        <!-- </div> -->
                        <div class="carPaqueteTV-canalesDescripcion">
                            <ul class="color__gray">
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>

                            </ul>
                            <ul class="numeros color__gray">
                                <li>89</li>
                                <li>25</li>
                                <li>14</li>
                                <li>27</li>
                                <li>75</li>
                            </ul>
                            <ul class="color__gray">
                                <li>Canales HD</li>
                                <li>Canales en SD</li>
                                <li>Mosaicos</li>
                                <li>Pago por Evento</li>
                                <li>Audio/Musicales</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="blueTogo__legend">
                        <p>Además, acceso gratis a:</p>
                        <img src="assets/img/logo/bluetologoBwhite.png" alt="blue to go incluido">
                    </div> -->
                    <div class="carPaqueteTV-buttons">
                        <button onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);" class="btn__pink btnContact">Lo quiero</button>
                        <button class="btn__lineBlue btn__showModals" modal="modal_prepago">Ver canales</button>


                    </div>
                </div>
                <!-- <div class="ofertaCard" style="border-bottom: 1px solid var(--azul-baner);">
                    <div class="line__sky"></div>
                    <p class="info">Recibe adicionalmente un descuento de</p>
                    <p class="price">$175</p><sup>(*)</sup>
                </div> -->
            </div>
            <div class="col">

                <div class="logo__plan-card">
                    <!-- <div class="logos">
                        <img src="assets/img/logo/skygoldv2.png" alt="sky silver" >
                        <p class="textPink">+</p>
                        <img src="assets/img/logo/bluetelecom-internet.svg" alt="bluetelecom Logo">
                    </div> -->

                    <img src="{{absoulteHrefBasePath}}assets/img/logos/conjunto-platinum.png" alt="sky gold mas bluetelecom">
                </div>
                <div class="cardPaqueteTV">
                    <div class="container__blue-card">
                        <p class="cardPaqueteTV-title">Desde</p>
                        <div class="carPaqueteTV-prices">
                            <p class="carPaqueteTV-priceOriginal">
                                <span>$</span>730<sub class="sub__title">(5)</sub>
                            </p>
                        </div>
                        <p class="carPaqueteTV-priceLista2 color__white">al mes (en 1 equipo)</p>
                        <!-- <p class="carPaqueteTV-subtitle">Pago oportuno</p> -->
                        <p class="carPaqueteTV-priceLista">Precio Regular <span>$780</span><sup>(6)</sup></p>
                    </div>
                    <div class="carPaqueteTV-canales">
                        <!-- <div class="border__description "> -->
                        <div class="title color__blue">10/ Internet inalámbrico 100 GB y 137 canales</div>

                        <!-- </div> -->

                        <div class="carPaqueteTV-canalesDescripcion">
                            <ul>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>
                                <li><img src="{{absoulteHrefBasePath}}assets/img/iconos/icon-flecha.png" alt="flecha aceptado"></li>

                            </ul>
                            <ul class="numeros color__gray">
                                <li>108</li>
                                <li>29</li>
                                <li>14</li>
                                <li>27</li>
                                <li>75</li>
                            </ul>
                            <ul class="color__gray">
                                <li>Canales HD</li>
                                <li>Canales en SD</li>
                                <li>Mosaicos</li>
                                <li>Pago por Evento</li>
                                <li>Audio/Musicales</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="blueTogo__legend">
                        <p>Además, acceso gratis a:</p>
                        <img src="assets/img/logo/bluetologoBwhite.png" alt="blue to go incluido">
                    </div> -->
                    <div class="carPaqueteTV-buttons">
                        <button onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);" class="btn__pink btnContact">Lo quiero</button>
                        <button class="btn__lineBlue btn__showModals" modal="modal_prepago">Ver canales</button>


                    </div>
                </div>
                <!-- <div class="ofertaCard" style="border-bottom: 1px solid var(--azul-baner);">
                    <div class="line__sky"></div>
                    <p class="info">Recibe adicionalmente un descuento de</p>
                    <p class="price">$175</p><sup>(*)</sup>
                </div> -->
            </div>

            
        </div>

        <p class="terms-conditions">
            (5) Precio de promoción sobre el precio regular aplicable al costo mensual del combo de televisión más
            internet inalámbrico con 1 equipo HD sin grabación. Precio registrado ante el Instituto Federal de
            Telecomunicaciones, mismo que puede ser consultado en www.ift.org.mx. | (6) Precio regular mensual del combo
            de televisión más internet inalámbrico con 1 equipo HD sin grabación. Precio registrado ante el Instituto
            Federal de Telecomunicaciones, mismo que puede ser consultado en www.ift.org.mx. Precio aplica para la
            contratación de 1 equipo Sky HD + Blue Telecomm Inalámbrico | (7) Ahorro de $175 de descuento en la
            contratación del servicio de internet inalámbrico. | (8) Precio en Pago Oportuno mensual del combo de
            televsión más internet inalámbrico Precio que recibe si paga dentro de los 12 días naturales posteriores a
            su fecha de corte. Precio registrado ante el Instituto Federal de Telecomunicaciones, mismo que puede ser
            consultado en www.ift.org.mx.
            (*)Vigencia: Del 01 de Octubre al 30 de Noviembre del 2022. Descuento aplicable en combos. El descuento de $175 será aplicado sobre el costo de habilitación
        </p>


    </section>


    <!-- instalaciones -->

    <section class="container">
        <div class="instalacionBanner">

            <img src="{{absoulteHrefBasePath}}assets/img/iconos/instalation.svg" alt="">
            <p>Instalación en menos de 24 horas*</p>
        </div>
        <p class="terms-conditions">
            *Instalación inmediata de Lunes a Viernes de 09:00 a 15:00 hrs. Sujeto a disponibilidad por cobertura y
            plaza, consulta con uno de nuestros ejecutivos.
        </p>
    </section>

    <section class="universalHBO">
        <div class="container">
            <div class="titles">

                <p class="cards__titles"> Más diversión con los mejores
                    canales en </p>
                <p class="cards__subtitle">nuestros paquetes premium a la carta</p>
            </div>

            <div class="universalHBO__cards">
                <div class="cardLogo">
                    <div class="contenedorLogos">
                        <img src="{{absoulteHrefBasePath}}assets/img/logos/Universal_Plus_logo.png" alt="logo Universal" class="logo__canales">

                    </div>

                    <div class="canales">
                        <img src="{{absoulteHrefBasePath}}assets/img/canaluniversal/Canal-Universal-Cinema.png" alt="universal cinema">
                        <img src="{{absoulteHrefBasePath}}assets/img/canaluniversal/Canal-Universal-Comedy.png" alt="universal comedy">
                        <img src="{{absoulteHrefBasePath}}assets/img/canaluniversal/Canal-Universal-Crime.png" alt="universal crime">
                        <img src="{{absoulteHrefBasePath}}assets/img/canaluniversal/Canal-Universal-Premiere.png" alt="universal premier">
                        <img src="{{absoulteHrefBasePath}}assets/img/canaluniversal/Canal-Universal-Reality.png" alt="universal reality">
                    </div>
                    <button class="btn__pink btnContact" onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);">Lo quiero
                    </button>


                </div>
                <div class="cardLogo">
                    <div class="contenedorLogos">
                        <img src="{{absoulteHrefBasePath}}assets/img/logos/logo-HBO.png" alt="logo Universal" class="logo__canales">


                    </div>

                    <div class="canales canales2">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbo.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbo2.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbofamilypremium.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbomundi.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbopluspremium.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbopop.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hbosignature.png" alt="HBO">
                        <img src="{{absoulteHrefBasePath}}assets/img/canalesHBO/hboxtreme.png" alt="HBO">
                    </div>
                    <button class="btn__pink btnContact" onclick="gtag('send', 'event', 'LO QUIERO', 'clic', 'LO QUIERO', 0);">Lo quiero
                    </button>

                </div>
            </div>
            <p class="terms-conditions">
                Disponibles como módulos en HD a la carta con costo adicional al paquete de programación contratado.
            </p>
        </div>

    </section>


    <!-- <section class="container banner__ligas">
        <div id="banner__margin" class="banner__ligas__imagen">
            <img src="assets/img/banner/promo-combos-bti.webp" alt="Promociones Blue Telecomm Internet" class="d-none d-md-block">
            <img src="assets/img/banner/promo-combos-bti-mobile.webp" alt="Promociones Blue Telecomm Internet" class="d-md-none">
            <a data-ic-popup="form-popup.html">
                <button class="btn__rosa-redondo btn-rosa-ask">Lo quiero</button>
            </a>
        </div>
    </section> -->

    <!-- <section class="container VeTvInternet">
        <p class="precioCombo">*Aplica para la contratación de VETV HD en 1 equipo con recarga de 30 días.</p>
        <div class="VeTvInternet__container">
            <p class="title__vetv">El combo que esperabas, el mejor <span>entretenimiento + internet</span> para tu hogar</p>
            <p class="VeTvInternet__container-title">
                Combos VETV + Internet
            </p>
            <p class="VeTvInternet__container-subtitle">
                Elige el Combo de TV + Internet que más te convenga en prepago
            </p>
            <div class="carousel" style="position: relative;">
                <button role="button" class="glider-prev disabled" id="prev-vtv">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <div class="VeTvInternet__container-cards">
                </div>
                <button role="button" class="glider-next" id="next-vtv">
                    <i class="fa fa-chevron-right"></i>
                </button>

            </div>
        </div>
    </section> -->

    <!-- <section class="container">
        <div class="skyblue__blue">
            <div class="info">
                <img src="assets/img/logos/sky-bti-white.svg" alt="" class="logoskybtc">
                <p class="title">
                    ¿Quieres disfrutar de <span>más contenidos, más canales </span> y muchas más diversión?
                </p>

                <p class="subtitle">
                    Conoce nuestros Combos SKYHD + INTERNET desde <span>$545</span> al mes
                </p>
                
                <a href="combos-sky-internet.html">
                    <button class="btn__rosa-redondo btn__pink">Ver paquetes SKYHD</button>                
                </a>

            </div>
            <div class="img__banner">
                <img src="assets/img/iconos/img-skycombos1/img-skycombos.png" alt="">
            </div>
        </div>
    </section> -->



    <!-- <div class="chatInterno__container">
        <div class="container">
            <a href="https://skyvideo.custhelp.com/app/chat/leadconvertia/origen/112/pais/MX/p/247" target="_blank">
                <div class="chatInterno">
                    <div class="icon">
                        <img src="assets/img/iconos/icn-chatbot.svg" alt="icono chatbot">
                    </div>
                    <div class="chatInterno__info">
                        <p class="title"><span>¡Contrataciones o </span><br>Servicio a Clientes!</p>
                        
                    </div>
                </div>
            </a>
        </div>
    </div> -->

    <div class="form__footer footerScroll zoomInDown">
        <div class="container">
            <div class="form__footer-body">
                <div class="contrata-ahora">
                    <p class="title">¡Contrata ahora al </p>
                    <a onclick="return gtag_report_conversion('tel:{{parameterOrDefault inboundPublicNumber 01 800 000}}')" href="tel:{{parameterOrDefault inboundPublicNumber '01 800 000'}}" target="_parent">
                        {{parameterOrDefault inboundPublicNumber '01 800 000'}}
                        <!-- 01 800 000 -->
                    </a>


                    <!-- <p class="subtitle">Déjanos tu número <br> y te llamamos en minutos</p> -->
                </div>
                <div class="formulario">
                    <form action="" method="post" onsubmit="return onFormSubmit(this, event);" class="dhx-form form-box banner__form-form">
                        <div class="form__body">
                            <p class="opcion__b">O déjanos tu número y te llamamos sin costo</p>
                            <div class="form-input">
                                <!-- <p class="sky-text-legend formPopUp-legend">Teléfono a 10 digitos</p> -->
                                <div class="form-group mb-2">
                                    <input type="tel" data-ic-form-field="phone" id="phone-input" name="phone-input" class="input form-control gtm-form-popup-input-tel" aria-describedby="phoneHelp" placeholder="Ingresa tu teléfono" maxlength="10">
                                </div>

                            </div>
                            <div class="form-button">
                                <div class="form-group text-center mb-0">
                                    <button type="submit" class="w-100 mx-auto gtm-form-popup-submit btn__pink" onclick="return onFormSubmit(this, event);" data-ic-button-disabled="" style="cursor: progress;">Llámenme</button>
                                </div>
                            </div>

                        </div>
                        <div class="form-group form-termsAvisos">
                            <div class="form-check form__terms">
                                <input data-ic-form-field="terms" id="terms-check-06" name="terms-check-06" type="checkbox" class="form-check-input" checked="">
                                <label class="pl-1 form-check-label" for="terms-check-06">He leído y acepto el <a href="https://www.sky.com.mx/aviso-de-privacidad.html" target="_blank"> aviso de
                                        privacidad
                                    </a>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container footer__container">
            <div class="logo">
                <img src="{{absoulteHrefBasePath}}assets/img/logos/logo-sky-distribuidorV2.svg" alt="Logo sky">
                <p>©Copyright 2018</p>
            </div>
            <div class="links">
                <a href="https://www.sky.com.mx/aviso-de-privacidad.html" target="_blank">Aviso de privacidad</a>
                <a href="{{absoulteHrefBasePath}}assets/LEGALES-SKY.pdf" target="_blank" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">Términos y Condiciones</a>
            </div>
        </div>
        <div class="container footer__info">
            <div class="footer-text">
                “Sky” y las marcas relacionadas, nombres y logotipos, son propiedad de “Sky International AG” y otras
                empresas del grupo.
                <p class="footer__enlaces">
                    <a target="_blank" href="http://www.televisanetworks.tv/tarifas.asp">Aviso para concesionarios de
                        televisión y audio restringida</a> |
                    <a target="_blank" href="https://www.sky.com.mx/Code/docs/cntr-sky-mx-se.pdf">Contrato de
                        Suscripción
                        Derechos reservados</a> |
                    <a target="_blank" href="https://www.dof.gob.mx/nota_detalle.php?codigo=5641266&amp;fecha=25/01/2022#gsc.tab=0">
                        Carta de Derechos Mínimos de los Usuarios de Telecomunicaciones</a>
                    <a target="_blank" href="https://www.sky.com.mx/Code/docs/codigo-practicas-comerciales.pdf"> Código
                        de
                        Prácticas comerciales</a> |
                    <a target="_blank" href="https://www.sky.com.mx/Code/docs/codigo-etica-sky.pdf"> Código de Ética</a>
                </p>
                <!-- <br> -->

                <p class="footer__fin">
                    © Corporación Novavisión S. de R.L. de C.V. 2022. Prohibida su reproducción total o parcial. Av.
                    Insurgentes Sur 694, Col. Del Valle, Ciudad de México.
                </p>
            </div>
        </div>
    </footer>

    <div class="modalContact">
        <div class="banner__form-modal">
            <img src="{{absoulteHrefBasePath}}assets/img/logos/logo-sky-distribuidorV2.svg" alt="Logo sky">
            <p class="banner__form-title">¡Vive la alta definición de SKY!</p>
            <div class="banner__form-subtitle">
                <p class="contrata__text">Contrata ahora al <br><span>
                        <a class="ic-phone-link color-rosa" onclick="return gtag_report_conversion('tel:{{parameterOrDefault inboundPublicNumber 01 800 000}}')" href="tel:{{parameterOrDefault inboundPublicNumber '01 800 000'}}" target="_parent">{{parameterOrDefault inboundPublicNumber '01 800 000'}}</a>
                    </span></p>

                <p class="dejatuNumero">O si prefieres, ¡Te llamamos sin costo!</p>
            </div>


            <form action="" method="post" onsubmit="return onFormSubmit(this, event);" class="dhx-form form-box2 banner__form-form">
                <p class="sky-text-legend formPopUp-legend">Teléfono a 10 dígitos</p>
                <div class="form-group mb-2">
                    <input type="tel" data-ic-form-field="phone" id="phone-input" name="phone-input" class="input form-control gtm-form-popup-input-tel" aria-describedby="phoneHelp" placeholder="Ingresa tu teléfono" maxlength="10">
                </div>


                <div class="form-group">
                    <div class="form-check form__terms">
                        <input data-ic-form-field="terms" id="terms-check-06" name="terms-check-06" type="checkbox" class="form-check-input" checked="">
                        <label class="form-check-label textTerms" for="terms-check-06">Acepto <a href="{{absoulteHrefBasePath}}politicas-privacidad.html" target="_blank" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">términos y
                                condiciones.</a></label>
                    </div>
                </div>

                <div class="form-group text-center mb-0">
                    <button type="submit" class="gtm-form-popup-submit btn__pink" onclick="return onFormSubmit(this, event);" data-ic-button-disabled="" style="cursor: progress;">Lo quiero</button>
                </div>
            </form>
        </div>
        <div class="closeIcon__modal">
            <img class="icon" src="{{absoulteHrefBasePath}}assets/img/iconos/icn-close.svg" alt="icono cerrar">
        </div>
    </div>

    <script src="{{absoulteHrefBasePath}}assets/js/navbar.js"></script>
    <!-- <script src="assets/js/cards.js"></script> -->
    <script src="{{absoulteHrefBasePath}}assets/js/glider.min.js"></script>
    <script src="{{absoulteHrefBasePath}}assets/js/carousel-cards.js"></script>
    <script src="{{absoulteHrefBasePath}}assets/js/modalCanales.js"></script>
    <script src="{{absoulteHrefBasePath}}assets/js/animationScroll.js"></script>



    {{> masters/bodyBottom }}
</body></html>