<!DOCTYPE html>
<html lang="es"><head>
    {{> masters/headTop }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teléfono SKY Sports</title>
    <meta name="Description" content="Contrara SKY Sports vía Telefónica o Contáctate con Servicio al Cliente">
    <meta name="Keywords" content="sky sports, sky mexico, sky sports en vivo, sky sports f1, sky sports precio, sky sports programacion, sky sports agenda, sky sports blue to go, sky sports barcelona, sky sports canales, sky sports costo, sky sports champions league, sky sports directo, sky sports eurocopa, sky atencion a clientes, sky deportes, sky futbol, sky atencion en linea, sky atencion al cliente telefono, sky atencion a clientes horario, sky centro atencion, sky falla, sky mexico deportes">
    <link rel="icon" href="{{absoulteHrefBasePath}}favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{absoulteHrefBasePath}}assets/css/prelanding.css">
    {{> masters/headBottom }}
</head>
<body>
    {{> masters/bodyTop }}
    <div class="prelanding">
        <div class="container prelanding__container">
            <div class="prelanding__contrata">
                <img src="{{absoulteHrefBasePath}}assets/img/prelanding/sky-bti-logo.png" alt="logo sky compuesto" class="logo">
                <img src="{{absoulteHrefBasePath}}assets/img/prelanding/prelanding-illustration.svg" alt="ilustracionSky" class="ilustracionSky">
                <h1 class="title">
                    SKY o VeTV <br> <span>en combo con internet</span>
                </h1>
                
                <h2 class="info">
                    Contacta con un ejecutivo para contratar SKYHD o VeTV en Combo con Internet, conoce nuestros planes a detalle, sin esperas y sin salir de casa.
                </h2>

                <a href="{{absoulteHrefBasePath}}combos-vetv-internet.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                    <button class="btn__prelandingPink">Contratar Combo VeTV</button>
                </a>

                <a href="{{absoulteHrefBasePath}}combos-sky-internet.html" onclick="return onLinkClick(this, event);" data-ic-link-disabled="" style="cursor: progress;">
                    <button class="btn__prelandingPinkBorder">Contratar Combo SKY</button>
                </a>

            </div>
            <div class="prelandin__cliente">
                <p class="title">¿Ya eres cliente?</p>
                <p class="subtitle">Si lo que requieres es hablar con Servicio a Clientes de alguno de nuestros productos, elige:</p>

                <div class="container__butons">

                    <a href="tel: 55 51690000">
                        <button class="btn__bluePrelanding">
                            <img src="{{absoulteHrefBasePath}}assets/img/prelanding/log-sky.svg" alt="logo sky">
                        </button>
                    </a>

                    <a href="tel: 55 40406200">
                        <button class="btn__bluePrelanding">
                            <img src="{{absoulteHrefBasePath}}assets/img/prelanding/logo-vetv.svg" alt="logo VeTV">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    

    {{> masters/bodyBottom }}
</body></html>